.pageContainer{
    display:flex;
    justify-content:space-between;
    margin:1rem 1.5rem;
}
.places{
    display:flex;
    gap:0.5rem;
}
.navButton{
    background-color:#edecfc;
    padding:0.5rem 1.5rem;
    border-radius:50px;
}

button{
    border:none; 
    cursor:pointer;
}

.active{
    background-color:#3739e4;
    color:white;
}

.viewAll{
    padding:0.5rem 1.5rem;
    border-radius:50px;
}
