*{
    margin:0;
    padding:0; 
    box-sizing:border-box; 
}
.heading{
    margin:1rem  auto ; 
    width:40%; 
}
.heading h1{
    margin:0.5rem;
}

.body{
    padding:1.5rem;
    display:flex; 
    justify-content:space-between;
    flex-direction:column; 
}
